@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Dancing+Script&display=swap');

*{
  
    margin: 0;
    padding: 0;
}

.principal{
    font-family: 'Crimson Text', serif;
    font-family: 'Dancing Script', cursive;
    border: 1px solid black;
    border-radius: 20px;
    width: 250px;
    height: 300px;
    margin: auto;
    margin-top: 110px;
    background-color: aquamarine;
}
.btn{
    border-radius: 40px;
    width: 200px;
    height: 30px;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 15px;
    cursor: pointer;
    
}
.btn:hover{
    background-color: aqua;
}

.in{
    margin-top: 40px;
    height: 30px;
    border-radius: 20px;
}
.tit{
    text-align: center;
}
.tx{
    text-align: center;
    font-size: 30px;
}