@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}

.principal{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 6%, rgba(33,187,190,1) 8%, rgba(2,15,46,1) 77%);
font-family: 'Fjalla One', sans-serif;
}
.playlist{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,75,121,1) 35%, rgba(0,212,255,1) 100%);
}
.nombre-playlist{
    display: flex;
    align-items: flex-end;
}
.foto{
    margin-top: -10px;
    width: 250px;
    height:300px;
}

.info-playlist{
    margin-left: 40px;
    color:whitesmoke
}
.lista-titulos{
    margin:5px;
    display: flex;
    list-style-type:none;
    justify-content: space-around;
    border: 1px white solid;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}
.lista-titulos li{
    font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.nombres{
    display: flex;
    list-style: none;
    align-items: center;

}
.diles{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 150px;
}
.img-numero{
    margin: 20px;
}
.nombre-cancion{
    font-size: 15px;
    margin-left: 130px;
    width: 200px;
}
.album{
    font-size: 15px;
    margin-left: 150px;
    width: 200px;
}
.agregado{
    font-size: 20px;
    margin-left: 150px;
}
.tiempo{
    font-size: 20px;
    margin-left: 290px;
}

.ft1{
    width: 100px;
}
.tiempo2{
    margin-left: 220px;
    font-size: 20px;
}
.tiempo3{
    margin-left: 270px;
    font-size: 20px;
}
.tiempo4{
    margin-left:240px;
    font-size: 20px;
}
.tiempo5{
    margin-left: 280px;
    font-size: 20px;
}
.ft2{
    width: 100px;
    height: 85px;
}
.ft3{
    border-radius: 100%;
    width: 40px;
    height: 50px;
}
.bajar p{
    width: 700px;
    height: 800px;
    margin-left: 44px;
    margin-top: -36px;
}